body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

canvas {
  box-shadow: 10px 5px 10px 1px black;
}

header {
  text-align: center;
}

header span {
  animation: blink 1s infinite step-end;
}

main {
  position: relative;
}

.flex {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.menu {
  padding: 4rem;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: turquoise;
}

.menu p {
  color: black;
}

.menu h1 {
  animation: bigger 1.5s ease-in-out infinite;
}

.instructions span {
  color: rgb(97, 52, 36)
}

.instructions {
  text-align: left;
}

.won {
  background-image: url('https://media.giphy.com/media/mJHSkWKziszrkcNJPo/giphy.gif');
  background-position: center;
  background-repeat: no-repeat;
  display: none;
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.gameover {
  background-image: url('https://media.giphy.com/media/SIPIe590rx6iA/giphy.gif');
  background-position: center;
  background-repeat: no-repeat;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.gameover h1,
.won h1 {
  display: block;
  margin-top: 138px;
  text-align: center;
  font-size: 2.5rem;
}

.gameover button,
.won button {
  outline: none;
  transition: 0.3s;
  display: block;
  margin: 0 auto;
  margin-top: 90px;
  background-color: white;
  padding: 1rem 2rem;
  box-shadow: 5px 5px black;
  border: none;
  font-size: 1.3rem;
  font-weight: bolder;
}

.gameover button:hover,
.won button:hover {
  transform: scale(1.2);
}

@keyframes bigger {

  from,
  to {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}

@keyframes blink {

  from,
  to {
    color: transparent;
  }

  50% {
    color: black
  }
}