body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

canvas {
  border: 1px solid black;
}

header {
  text-align: center;
}

header span {
  animation: blink 1s infinite step-end;
}

@keyframes blink {

  from,
  to {
    color: transparent;

  }

  50% {
    color: black
  }
}